*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headen {
  opacity: 0;
}

///////////////////body/////////////////////////////////
// .body {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;

//   ///
//   // user-select: none;
// }
////////////////////header//////////////////////////////

.header {
  // background-color: color(primary-text);
  // height: 230px;
  // background-image: url('../../src/images/logo1.png');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;

  text-align: center;
  margin-bottom: 60px;

  &__img-home {
    background-color: color(primary-text);
    height: 230px;
    background-image: url('../../src/images/logo1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__img-watched {
    background-color: color(primary-text);
    height: 230px;
    background-image: url('../../src/images/logo2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__img-details {
    background-color: color(primary-text);
    height: 230px;
    background-image: url('../../src/images/logo3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    @include center-space-between-flex($type: 'all');
    // max-width: 882px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 45px;
  }

  &__link {
    @include center-flex($type: 'ver');
    text-decoration: none;
  }

  &__logoImg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  &__logoName {
    font-family: $primary-font-stack;
    font-size: $headings-size-big;
    font-style: normal;
    color: color(primary);
    font-weight: $medium-font-size;
    text-transform: capitalize;
    padding-left: 10px;
  }

  &__navList {
    display: flex;
    list-style: none;
  }

  &__navListLink {
    text-decoration: none;
    font-family: $primary-font-stack;
    font-size: $headings-size;
    color: #ffffff;
    font-weight: $medium-font-size;
    cursor: pointer;
    text-transform: uppercase;
  }

  &__navListLink:hover {
    border-bottom: 3px solid color(secondary);
  }

  &__navList > li:first-child {
    margin-right: 50px;
  }
}

// @media (max-width: 1024px) {
//   .header__content {
//     width: 588px;
//   }
// }

@media (max-width: 767px) {
  .header {
    margin-bottom: 20px;
  }

  .header__logoName {
    display: none;
  }

  .header__navList > li:first-child {
    margin-right: 15px;
  }
}

//////////////////input///////////////////////////
.form-search {
  display: inline-block;
  border-bottom: 1px solid;
  color: color(primary);
  width: 336px;
  text-align: initial;
  position: relative;
}
.form-search button {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: transparent;
}
.form-search button::before {
  content: url(../../src/images/search-icon.svg);
  font-size: $input-size-btn;
  color: color(primary);
}
.form-search input {
  all: unset;
  width: 300px;
  color: color(primary);

  @include placeholder {
    color: color(primary);
    font-family: $primary-font-stack;
    font-size: $warning-size;
    font-weight: $regular-font-size;
  }
}

//////////////////////search////////////////////
.search {
  &__navLibrary {
    @include center-flex($type: 'all');
    list-style: none;
  }

  &__navLibrary > li:first-child {
    margin-right: 15px;
  }

  &__navLibraryBtn-Watched {
    border: none;
    outline: none;
    padding: 8px;
    font-family: $primary-font-stack;
    font-size: $headings-size;
    font-weight: $regular-font-size;
    cursor: pointer;
    color: color(primary);
    text-transform: uppercase;
    background-color: transparent;
    border: color(primary) 1px solid;
    width: 136px;
    height: 44px;
  }

  &__navLibraryBtn-Queue {
    border: none;
    outline: none;
    padding: 8px;
    font-family: $primary-font-stack;
    font-size: $headings-size;
    font-weight: $regular-font-size;
    cursor: pointer;
    color: color(primary);
    text-transform: uppercase;
    background-color: transparent;
    border: color(primary) 1px solid;
    width: 136px;
    height: 44px;
  }

  &__navLibraryBtn-Queue:hover {
    background-color: color(secondary);
    // border: color(primary) 1px solid;
  }
  &__navLibraryBtn-Watched:hover {
    background-color: color(secondary);
    // border: color(primary) 1px solid;
  }

  &__libraryFilmList {
    width: 100%;
    list-style: none;
    padding-top: 20px;
    font-family: $primary-font-stack;
    font-size: $warning-size;
    font-style: normal;
    color: color(warning-text);
    font-weight: $regular-font-size;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .search__navLibrary {
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .form-search {
    width: 230px;
  }
  .form-search input {
    width: 195px;
  }

  .search__libraryFilmList {
    margin-bottom: 0;
  }
}
