.choosed_movie {
  margin-bottom: 60px;
}

.movie_card {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-size: 12px;
}

.details-image {
  width: 280px;
  margin-bottom: 20px;
}

.details-info__title {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.parameters__container {
  font-weight: 500;
  display: flex;
  margin-bottom: 20px;
}

.parameters {
  margin-right: 40px;
}

.parameters-title {
  color: #8c8c8c;
}

.parameters-title:not(:last-child) {
  margin-bottom: 10px;
}

.values {
  display: flex;
  flex-direction: column;
}

.parameters-title__info:not(:last-child) {
  margin-bottom: 10px;
}

.vote {
  display: inline-block;
  text-align: center;
  line-height: 14px;
  width: 36px;
  border-radius: 5px;
  background-color: #ff6b01;
  color: #ffffff;
}

.votes {
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.details-about {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.movie_poster {
  height: auto;
  width: 100%;
  border-radius: 5px;
}

.details-info__description {
  margin: 0 0 38px 0;
  font-weight: 500;
  line-height: 20px;
}

.button-action {
  width: 132px;
  height: 44px;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.button-action:not(:last-child) {
  margin-right: 12px;
}

.button-action:hover {
  background: #ff6b01;
  color: #ffffff;
  border: none;
}

// ++++++++++++++++++++++++++++++++++++++

@media screen and (min-width: 768px) {
  .movie_card {
    max-width: 618px;
    flex-direction: row;
    justify-content: space-between;
  }

  .details-image {
    min-width: 294px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .details-info {
    width: 294px;
  }

  .button-action:not(:last-child) {
    margin-right: 15px;
  }
}

// ++++++++++++++++++++++++++++++++++++++

@media screen and (min-width: 1024px) {
  .movie_card {
    min-width: 874px;
    margin: 0;
  }

  .details-image {
    min-width: 426px;
    margin-bottom: 60px;
  }

  .details-info {
    width: 426px;
  }

  .parameters-title:not(:last-child) {
    margin: 0 0 12px 0;
  }

  .details-info__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 18px 0;
  }

  .button-action {
    width: 136px;
    height: 44px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
  }
}
