.section__cards {
  margin-bottom: 50px;
  & a {
    text-decoration: none;
  }

  & .text {
    font-family: $primary-font-stack;
    font-style: normal;
    font-weight: $medium-font-size;
    font-size: $headings-size;
    line-height: 16px;
  }

  & .cards__film-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  & .card__film {
    padding: 15px;
    width: 33.333%;
    .card {
      &__img {
        border-radius: 5px;
      }
      &__img-film {
        width: 100%;
        height: auto;
      }
      &__film-name {
        color: color(primary-text);
      }
      &__film-about {
        color: color(secondary);
      }
    }
  }
}
