.section__cards {
  margin-bottom: 50px;
  & a {
    text-decoration: none;
  }

  & .text {
    font-family: $primary-font-stack;
    font-style: normal;
    font-weight: $medium-font-size;
    font-size: $headings-size;
    line-height: 16px;
  }

  & .cards__film-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  & .card__film {
    padding: 15px;

    & .card__img {
      border-radius: 5px;
    }

    & .card__film-name {
      color: color(primary-text);
      //color: #000000;
    }

    & .card__film-about {
      color: color(secondary);
      //color: #ff6b08;
    }
  }
}
