.slider_main {
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.slider_container {
  padding: 0px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.slider_arrow-left {
  position: absolute;
  top: 40%;
  left: 0px;
}
.slider_arrow-right {
  position: absolute;
  top: 40%;
  right: 0px;
}

.slider_body {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
}

.slider-arrow {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  margin: 0px;
  transition: box-shadow 0.2s ease, transform 0.5s ease, margin-top 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-arrow {
  z-index: 2;
}
// .............................................
.arrow-left,
.arrow-right {
  margin: 20px 8px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.arrow-left path,
.arrow-right path {
  fill: #ff001b;
  transition: fill 0.5s ease-out;
}
.arrow-left {
  transform: rotate(180deg);
}

.arrow-left:hover path,
.arrow-right:hover path {
  fill: #000;
}

.slider__lists {
  padding: 10px 0px;
  display: flex;
  justify-content: flex-start;
  background-color: #1b1610;
}

.item {
  overflow: hidden;
  background-size: auto;
  height: 250px;
  padding: 10px 0px;
  margin: 0 8px;
  border-top: dashed 15px #fff;
  border-bottom: dashed 15px #fff;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: item-anim;
  // transition: 1s;
}
.item:hover {
  padding: 0;
  border: solid 15px #ff6b08;
}
.slider_main:hover .item {
  animation-play-state: paused;
}

.slider_name {
  position: absolute;
}

@keyframes item-anim {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-6150px);
  }
}
