{{!-- {{#each this}}
<div class="section__cards">
    <div class="container">
        <div class="cards__film-wrap">
            <div class="card__film">
                <div class="card__img">
                    <a class="card__img-film" href="{{#}}"><img src="{{#}}" alt="image" class="card__img-film" /></a>
                </div>
                <div class="card__text">
                    <a href="{{#}}" class="card__film-name text">{{#}}</a>
                    <br /><a href={{#}} class="card__film-about text">{{#}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}} --}}

<div class="section__cards">
    <div class="container">
        <div class="cards__film-wrap">
            <div class="card__film">
                <div class="card__img">
                    <a class="card__img-film" href="#"><img
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/9PEH3llx95PHR6OWrmy4VqsJB41.jpg"
                            alt="image" class="card__img-film" /></a>
                </div>
                <div class="card__text">
                    <a href="#" class="card__film-name text">GREYHOUND</a>
                    <br /><a href="#" class="card__film-about text">Drama, Action | 2020</a>
                </div>
            </div>


            <div class="card__film">
                <div class="card__img">
                    <a class="card__img-film" href="#"><img
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/9PEH3llx95PHR6OWrmy4VqsJB41.jpg"
                            alt="image" class="card__img-film" /></a>
                </div>
                <div class="card__text">
                    <a href="#" class="card__film-name text">GREYHOUND</a>
                    <br /><a href="#" class="card__film-about text">Drama, Action | 2020</a>
                </div>
            </div>

            <div class="card__film">
                <div class="card__img">
                    <a class="card__img-film" href="#"><img
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/9PEH3llx95PHR6OWrmy4VqsJB41.jpg"
                            alt="image" class="card__img-film" /></a>
                </div>
                <div class="card__text">
                    <a href="#" class="card__film-name text">GREYHOUND</a>
                    <br /><a href="#" class="card__film-about text">Drama, Action | 2020</a>
                </div>
            </div>

            <div class="card__film">
                <div class="card__img">
                    <a class="card__img-film" href="#"><img
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/9PEH3llx95PHR6OWrmy4VqsJB41.jpg"
                            alt="image" class="card__img-film" /></a>
                </div>
                <div class="card__text">
                    <a href="#" class="card__film-name text">GREYHOUND</a>
                    <br /><a href="#" class="card__film-about text">Drama, Action | 2020</a>
                </div>
            </div>

            <div class="card__film">
                <div class="card__img">
                    <a class="card__img-film" href="#"><img
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/9PEH3llx95PHR6OWrmy4VqsJB41.jpg"
                            alt="image" class="card__img-film" /></a>
                </div>
                <div class="card__text">
                    <a href="#" class="card__film-name text">GREYHOUND</a>
                    <br /><a href="#" class="card__film-about text">Drama, Action | 2020</a>
                </div>
            </div>

            <div class="card__film">
                <div class="card__img">
                    <a class="card__img-film" href="#"><img
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/9PEH3llx95PHR6OWrmy4VqsJB41.jpg"
                            alt="image" class="card__img-film" /></a>
                </div>
                <div class="card__text">
                    <a href="#" class="card__film-name text">GREYHOUND</a>
                    <br /><a href="#" class="card__film-about text">Drama, Action | 2020</a>
                </div>
            </div>

            <div class="card__film">
                <div class="card__img">
                    <a class="card__img-film" href="#"><img
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/9PEH3llx95PHR6OWrmy4VqsJB41.jpg"
                            alt="image" class="card__img-film" /></a>
                </div>
                <div class="card__text">
                    <a href="#" class="card__film-name text">GREYHOUND</a>
                    <br /><a href="#" class="card__film-about text">Drama, Action | 2020</a>
                </div>
            </div>

            <div class="card__film">
                <div class="card__img">
                    <a class="card__img-film" href="#"><img
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/9PEH3llx95PHR6OWrmy4VqsJB41.jpg"
                            alt="image" class="card__img-film" /></a>
                </div>
                <div class="card__text">
                    <a href="#" class="card__film-name text">GREYHOUND</a>
                    <br /><a href="#" class="card__film-about text">Drama, Action | 2020</a>
                </div>
            </div>

            <div class="card__film">
                <div class="card__img">
                    <a class="card__img-film" href="#"><img
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/9PEH3llx95PHR6OWrmy4VqsJB41.jpg"
                            alt="image" class="card__img-film" /></a>
                </div>
                <div class="card__text">
                    <a href="#" class="card__film-name text">GREYHOUND</a>
                    <br /><a href="#" class="card__film-about text">Drama, Action | 2020</a>
                </div>
            </div>
        </div>
    </div>
</div>