*,
*::before,
*::after {
  list-style: none;
}
body {
  font-family: 'Roboto';
  color: #000000;
}

.container {
  max-width: 904px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .container {
    max-width: 648px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 310px;
  }
}
