*,
*::before,
*::after {
  list-style: none;
}

body {
  font-family: 'Roboto';
  color: #000000;
  &.dark-theme {
    background-color: #333333;
    color: #fff;
  }
  &.light-theme {
    background-color: #fff;
    color: #333333;
  }
}

.container {
  max-width: 904px;
  padding: 0 15px;
  margin: 0 auto;
  @include media-query(extra-large) {
    max-width: 648px;
  }
  @include media-query(medium) {
    max-width: 310px;
  }
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  .main {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
  }
}
