@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin center-space-between-flex($type: 'all') {
  display: flex;

  @if $type== 'all' {
    justify-content: space-between;
    align-items: center;
  } @else if $type== 'hor' {
    justify-content: space-between;
  } @else if $type== 'ver' {
    align-items: center;
  }
}

@mixin center-flex($type: 'all') {
  display: flex;

  @if $type== 'all' {
    justify-content: center;
    align-items: center;
  } @else if $type== 'hor' {
    justify-content: center;
  } @else if $type== 'ver' {
    align-items: center;
  }
}
